{% extends 'registration/base_registration.html'%}
{% load bootstrap %}
{% load static %}
{% block title %}Login{% endblock %}

{% block user_content %}

{% if validlink %}
    <div class="cabecalho-login">
        <div class="text-center w-75 m-auto">
            <h5>NOVA SENHA</h5>
        </div>
        <div class="text-center m-auto">
            <a href="index.html">
                <span><img src="{% static 'images/logo.png' %}" alt="" height="50"></span>
            </a>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form | bootstrap }}
      <button class="btn btn-primary btn-block" type="submit" style="margin-left: 100px; margin-top: 30px">Alterar senha</button>
    </form>
  {% else %}
    <p>
      O link de redefinição de senha era inválido, possivelmente porque já foi usado.
        Solicite uma nova redefinição de senha.
    </p>
  {% endif %}
{% endblock %} {% block row %}

<!-- end row -->
{% endblock %}