{% extends 'registration/base_registration.html'%} {% load bootstrap %} {% load static %} {% block title %}Login{% endblock %} {% block user_content %}
<div class="text-center">
    <a href="index.html">
        <span><img src="{% static 'images/logo.png' %}" alt="" height="50"></span>
    </a>

</div>

<p class="text-center mt-3">
    Sua senha foi definida. Clique <a href="{% url 'usuarios:login' %}">aqui</a> para ir pra tela de login.
</p>
{% endblock %} {% block row %}

<!-- end row -->
{% endblock %}