{% extends 'registration/base_registration.html'%}
{% load bootstrap %}
{% load static %}
{% block title %}RH Digital | Recuperação de senha{% endblock %}
{% block user_content %}
<div class="cabecalho-login">
        <div class="text-center w-75 m-auto">
            <h5>RESETAR SENHA</h5>
        </div>
        <div class="text-center m-auto">
            <a href="index.html">
                <span><img src="{% static 'images/logo.png' %}" alt="" height="50"></span>
            </a>
        </div>
    </div><div class="text-center">
    <p class="text-muted mb-4 mt-3">Digite seu endereço de e-mail e enviaremos um e-mail com instruções para redefinir sua senha.</p>
</div>

<form method="POST">
    {% csrf_token %}
    {{ form | bootstrap }}
    <div class="form-group mt-3 text-center">
        <button class="btn btn-primary btn-block" type="submit" > Resetar senha </button>
        <div class="col-12 text-center" style="margin-top: 30px;">
        <p class="text">Voltar para <a href="{% url 'usuarios:login' %}" style="color: #7e57c2; font-weight: bolder" ><b>Login</b></a></p>
        </div>
    </div>

</form>
{% endblock %}
{% block row %}
<div class="row mt-3">
    <div class="col-12 text-center">
        <p class="text-white-50">Voltar para <a href="{% url 'usuarios:login' %}" class="text-white ml-1"><b>Login</b></a></p>
    </div>
    <!-- end col -->
</div>
{% endblock %}