{% extends 'base_cadastro.html'%} {% load bootstrap %} {% load static %} {% block title %}Alterar senha{% endblock %}
{% block form_tipo %}Alterar senha{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb m-0">
    <li class="breadcrumb-item"><a href="{% url 'home:Home' %}">Layout recad</a></li>
    <li class="breadcrumb-item"><a href="{% url 'usuarios:perfil' %}">Minha conta</a></li>
    <li class="breadcrumb-item active">Alterar senha</li>
</ol>
{% endblock %}
{% block form %}
    <div class="cabecalho-login">
        <div class="text-center w-75 m-auto">
            <h5>NOVA SENHA</h5>
        </div>
        <div class="text-center m-auto">
            <a href="index.html">
                <span><img src="{% static 'images/logo.png' %}" alt="" height="50"></span>
            </a>
        </div>
    </div>
<form id="form" method="POST">{% csrf_token %}

    <div class="row justify-content-center">
        <div class="col-md-12 col-xl-6">
            {{ form.old_password | bootstrap }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 col-xl-6">
            {{ form.new_password1 | bootstrap }}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 col-xl-6">
            {{ form.new_password2 | bootstrap }}
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 col-xl-2">
            <div class="form-group mb-0 text-center"style="margin-top: 20px">
                <button class="btn btn-primary btn-block" type="submit">Alterar</button>
            </div>
        </div>
        <div class="col-md-12 col-xl-2" style="margin-top: 20px">
            <a class="btn btn-danger btn-block" href="javascript:history.back()">Voltar</a>
        </div>
    </div>
</form>

<!-- end row -->
{% endblock %}