{% extends 'registration/base_registration.html'%}
{% load bootstrap %}
{% load static %}
{% block title %}Login{% endblock %}
{% block user_content %}
<div class="text-center">
    <a href=" ">
        <span><img src="{% static 'images/logo.png' %}" alt="" height="50"></span>
    </a>
</div>
<p class="text-center mt-1">
    Enviámos-lhe instruções por e-mail para definir sua senha, se houver uma conta com o e-mail digitado. Você deve recebê-los em breve.
</p>
<p class="text-center">
    Se você não receber um e-mail, verifique se digitou o endereço com o qual se registrou e verifique sua pasta de spam.
</p>
{% endblock %}
{% block row %}

<!-- end row -->
{% endblock %}