{% load static %}
<!-- App favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

<!-- Plugins css -->
<link href="{% static 'libs/flatpickr/flatpickr.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/selectize/css/selectize.bootstrap3.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Theme Config Js -->
<script src="{% static 'js/head.js' %}"></script>

<!-- Bootstrap css -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />

<!-- App css -->
<link href="{% static 'css/app.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Icons css -->
<link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Jquery Toast css -->
<link href="{% static 'libs/jquery-toast/jquery.toast.min.css' %}" rel="stylesheet" type="text/css" />

<link href="{% static 'css/fieldsetform.css' %}" rel="stylesheet" type="text/css" />
