{% extends 'base_cadastro.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Formulário de Pessoas{% endblock %}
{% block titulo_pagina %}Pessoas{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb m-0">
    <li class="breadcrumb-item"><a href="{% url 'home:Home' %}">Layout recad</a></li>
    <li class="breadcrumb-item"><a href="{% url 'SFP001:listagem_pessoa' %}">Lista de Pessoas</a></li>
    <li class="breadcrumb-item active">Formulário de cadastro</li>
</ol>
{% endblock %}

{% block form %}
    {% include 'pessoa/form_pessoa.html' %}
{% endblock %}

{% block script %}
{{ block.super }}


<script type="text/html" id="item-cursofrm">
    <div id="item-__prefix__" style="margin-top: 10px">
        {{ formset.empty_form|crispy }}
    </div>
</script>

<script>
    $(document).ready(function(){
        $("#add-item").click(function(ev) {
            ev.preventDefault();
            var count = $('#cursofrm').children().length;
            var tmplMarkup = $("#item-cursofrm").html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
            $("div#cursofrm").append(compiledTmpl);

            // update form count
            $('#id_product-TOTAL_FORMS').attr('value', count + 1);

            // some animate to scroll to view our new form
            $('html, body').animate({
                scrollTop: $("#add-item").position().top-200
            }, 800);
        });
    });
</script>
{% endblock %}

