{% load static %}
<!DOCTYPE html>
<html lang="pt-BR" data-ng-app="app">
<head>
    <meta charset="utf-8"/>
    <base href="/">
    <title>Layout|Recadastramento</title>
    <meta name="description" content="Recadastramento Layout Sistemas"/>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{{ link_static }}/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>