{% load static %}
<!DOCTYPE html>
<html lang="pt" data-ng-app="app">
<head>
    <meta charset="utf-8"/>
{#    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">#}
{#    <link href="{{ link_static }}/css/styles.css" rel="stylesheet">#}
    <link href="{{ link_static }}/css/styles.css" rel="stylesheet">
{#    {% static "css/styles.css" %}#}
</head>
<body>
<div class="rodape">
    <div class="rodape-col-md-2">
    <img align="left" src="{{ link_static }}/img/logo.png"/>
    </div>
    <div class="rodape-col-md-10">
        <div class="row-rodape">Layout Folha</div>
        <div class="row-rodape">www.layoutsistemas.com.br</div>
        <div class="row-rodape">Layout Sistemas - (85) 3215-7600</div>
    </div>
</div>
</body>
</html>